@font-face {
    font-family: 'Kadwa';
    src: url('/src/fonts/Kadwa-bold.ttf');
}

.containerRelatorio {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

.resumoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.grafico {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#31C626 0 180deg, transparent 150deg 360deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.grafico h1{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #fff;
    border: 8px #000 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerErrosEAcertos {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.acertos,
.erros {
    width: 40%;
    height: 150px;
    border: 2px solid #A4A4A4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acertos #porcem,
.erros #porcem {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kadwa';
    padding: 5px 0px;
    border-bottom: 2px solid #A4A4A4;
}

.acertos .quantidade,
.erros .quantidade {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.acertos .quantidade p,
.erros .quantidade p {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Kadwa';
    font-size: 12px;
}

.detalhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border-left: 2px solid #A4A4A4;
}

.detalhamentoAcertosEErros {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.detalhamentoAcertosEErros button {
    width: 45%;
    height: 50px;
    font-size: 16px;
    font-family: 'Kadwa';
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.detalhamentoAcertosEErros #acertos {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    border-radius: 20px;
}

.detalhamentoAcertosEErros #erros {
    background-color: #D5D5D5;
    border: 2px solid #9A9A9A;
    border-radius: 20px;
}

.questoes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-bottom: 3px solid #A4A4A4;
    padding-bottom: 10px;
}

.questoes p {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Kadwa';
    font-size: 12px;
    cursor: pointer;
}

.enunciadoQuestao {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.numQuestao {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numQuestao p {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 50%;
    font-size: 20px;
    font-family: 'Kadwa';
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000;
}

#enunciado {
    width: 80%;
    font-size: 14px;
    font-family: 'Kadwa';
}

.respostaCorreta {
    width: 30%;
    height: 30px;
    border: 2px solid #1C8914;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #31C626;
}

.respostaCorreta p {
    color: #fff;
    font-family: 'Kadwa';
    font-size: 12px;
    font-weight: 100;
}

.detalhamentoDaQuestao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 115px;
}

.opcoes {
    margin-top: 0;
    margin-left: 25px;
    width: 40%;
}

.opcoes ul {
    list-style: none;
}

.opcoes ul li {
    font-size: 18px;
    font-family: 'Kadwa';
    margin-top: -10px;
}

.respostaCorretaExplicacao {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explicacao {
    height: 100px;
    width: 80%;
    border: 3px solid #A4A4A4;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Kadwa';
    background-color: #fff;
}

.acerto {
    border: 3px solid #31C626 !important;
}