.containerTurma{
    border: 2px solid #E7E7E7;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #F9F9F9;
    cursor: pointer;
}

.titleTurma{
    background-color: #D20000;
    height: 60px;
    padding: 10px 20px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}

.titleTurma p{
    color: #fff;
    font-size: 20px;
}

.descriptionTurma{
    padding: 10px 25px;
    color: #616161 ;
    border-bottom: 2px solid #c1c1c1;
}

.descriptionTurma #teacher{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

#activity{
    font-size: 18px;
}

.iconsTurma{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.iconsTurma .edit{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    justify-content: start;
}

.edit svg{
    cursor: pointer;
}

.iconsTurma .infoTurma{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
    margin-top: 10px;
}

.qtdPeople{
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.qtdPeople p{
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}