@font-face {
    font-family: 'Kadwa';
    src: url('/src/fonts/Kadwa-Regular.ttf');
}

.menuBar{
    height: 99.5%;
    width: 200px;
}

.menuItem{
    width: 180px;
    border: 1px solid #F5F0F0;
    display: flex;
    height: 40px;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
    padding-left: 10px;
    background-color: #F5F0F0;
    cursor: pointer;
    text-decoration: none;
    color: black;
}   

.menuItem p{
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Kadwa' ;
}

.close{
    display: none;
}